html, h1 {
    background-color: rgb(200, 254, 252);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 10px;
}
nav {
    background-color: blue;
    padding: 10px;
    
}
.navlink {
    text-decoration: none;
    list-style-type: none;
    padding: ;
    display: flex;
    align-items:center;
    align-content: center;
    gap: 60px;
}
.dropdown-trigger {
    position: relative;
}
.dropdown-trigger:hover .dropdown {
    display: block;
}
.dropdown {
    background-color:   blue;
    list-style-type: none;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px 30px 10px 10px;
    position: absolute;
    color: rgb(200, 254, 252);
}
.site-nav {
    text-decoration: none;
    color:  rgb(200, 254, 252);
    display: block;
   
}
.keyword {
    background-color: rgb(246, 165, 73);
      display: inline-block;
  
 border-radius: 4px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.wrapper {
    max-width: 600px;
    margin: auto;
}

h1 {
    padding-top: 60px;
}

